c:/TEM/Simulations/Test_Siter/output/
c:/TEM/Simulations/Test_Siter/regiondata/
c:/TEM/Simulations/Test_Siter/griddata/
c:/TEM/Simulations/Test_Siter/cohort/eq/
c:/TEM/Simulations/Test_Siter/cohort/sp/
c:/TEM/Simulations/Test_Siter/cohort/tr/
c:/TEM/Simulations/Test_Siter/output/restart-eq.nc
config/
sp
restart
dynamic
initial
Test-TEM-GUI
